<div class="chat-container">
  <div class="chat__left-side">
    <div class="chat__left-side__header">
      <a class="profile-link" href="#" data-page="profile">Профиль &#62;</a>
    </div>
    <div class="chat__left-side__search">
      <input class="chat__left-side__search__control" type="search" placeholder="Поиск" />
    </div>
    <div class="chat__left-side__footer">
      <div class="chat__left-side__chat-list">
        Список чатов
      </div>
    </div>
  </div>
  <div class="chat__main">
    <div class="chat__main__container">
      <div class="chat__main__container__header">
        <div class="chat__main__user__avatar">
          <img src="/images/user-blank-avatar.svg" alt="" />
          <span>Вадим</span>
        </div>
        <img src="/images/menu-chat.svg" alt="" />
      </div>
      <main class="chat__main__container__content">
        <span>чат, скоро будет:) <a href="#" data-page="menuPage">Назад</a></span>

      </main>
      <div class="chat__main__container__footer">
        <div>
          <form class="chat__main__container__control">
            <img src="/images/add-file.svg" alt="" />
            <input class="chat__input" type="text" placeholder="Сообщение" name="message" />
            <button><img src="/images/right-arrow-button.svg" alt="" /></button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>