.input__container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.input {
  border: none;
  border-bottom: 1px solid;
  border-bottom-color: var(--primary-color);
  border-radius: 4px 4px 0 0;
  padding-top: 32px;
  padding-bottom: 7px;
  outline: none;
}

.error-message {
  display: none;
  font-size: 8px;
  color: var(--error-color);
  margin-top: 7px;
}
