.button {
  background-color: var(--primary-color);
  border: none;
  border-radius: 8px;
  color: var(--background-color);
  cursor: pointer;
  height: 37px;
  outline: none;
  padding: 0 12px;
  text-align: center;
  width: 280px;
}
