.button {
  width: 280px;
  height: 37px;
  border: none;
  background-color: #3369f3;
  color: #fff;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  padding: 0 12px;
  background-color: #3369f3;
  border-radius: 8px;
  color: #fff;
  text-align: center;
}
