.error__container {
  display: flex;
  flex-direction: column;
  place-items: center center;
}

.error__title {
  font-size: 4rem;
  margin-bottom: 20px;
}

.error__subtitle {
  font-size: 2rem;
  margin-bottom: 69px;
}
