<div class="menu">
    <div class="menu__container">
        <h1 class="menu__title">Menu Page</h1>
        <nav>
            <ul class="menu__list">
                <li><a href="#" data-page="login">авторизация</a></li>
                <li><a href="#" data-page="registry">зарегистрироваться</a></li>
                <li><a href="#" data-page="chat">Чат</a></li>
                <li><a href="#" data-page="client-error">404</a></li>
                <li><a href="#" data-page="server-error">500</a></li>
                <li><a href="#" data-page="profile">профиль</a></li>
                <li><a href="#" data-page="profileChange">променять профиль</a></li>
            </ul> 
        </nav>
    </div>
</div>