<div class="menu">
    <div class="menu__container">
        <h1 class="menu__title">Menu Page</h1>
        <nav>
            <ul class="menu__list">
                 {{#each nav}}
                    <li>
                        {{> Link data-page=this.page text=this.text }}
                    </li>
                {{/each}}
            </ul> 
        </nav>
    </div>
</div>