<div class="error-page">
    <div class="error__container" >
        <h1 class="error__title">500</h1>
        <h2 class="error__subtitle">Мы уже фиксим</h2>
        <a class="error__link" href="#" data-page="chat">Назад к чатам</a>
    </div>
</div>