@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

html {
    font-size: 10px;
}

body {
    background-color: #fff;
    font-family: Inter;
    color: #1E1E1E;
    font-size: 1.3rem;
    font-weight: 600;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}
