<a href="#" data-page="menuPage" >Назад</a>
<div class="login-page">
    <div class="login__container">
        <h1 class="login__title">Вход</h1>
        <form class="login__form">
            <div class="login__form__input__container">
                {{#each inputItems}}
                    {{> Input type=this.type placeholder=this.placeholder name=this.name }}
                {{/each}}
            </div>
            {{> Button idButton="login_button" text="Войти"}}
            {{> Link class="login__link" text="Нет аккаунта?" data-page="registry"}}            
        </form>   
    </div>  
</div>