<a href="#" data-page="menuPage" >Назад</a>
<div class="login-page">
    <div class="login__container">
        <h1 class="login__title">Вход</h1>
        <form>
            <input class="login__input" type="text" placeholder="Логин" name="login" />
            <input class="login__input" type="password" placeholder="Пароль" name="password" />
            <button class="login__button">Войти</button>
            <button class="login__button white">Нет аккаунта?</button>
        </form>   
    </div>  
</div>