<main class="login-page container">
    <div class="login__container">
        <h1 class="login__title">{{title}}</h1>

        {{#if menuMode}}
            <nav>
                <ul class="menu__list">
                    {{#each nav}}
                        <li>
                            {{> Link data-page=this.page text=this.text }}
                        </li>
                    {{/each}}
                </ul> 
            </nav>
        {{else}}
            <form class="login__form">
                <div class="login__form__input__container">
                    {{#each inputItems}}
                        {{> Input type=this.type placeholder=this.placeholder name=this.name }}
                    {{/each}}
                </div>

                {{> Button idButton=actions.button.id text=actions.button.text data-page=actions.button.dataPage }}
                {{> Link class="login__link" text=actions.link.text data-page=actions.link.dataPage }}            
            </form>   
        {{/if}}
        
    </div>  
</main>