.user__avatar__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 60px;
}

.user__avatar {
  margin-bottom: 21px;
}

.user__avatar__title {
  text-align: center;
}
