<div class="user__avatar__container">
  <div class="user__avatar">
    <img class="user__avatar" src="{{imgSrc}}" alt="{{imgAlt}}" />
    {{#if userName}}
      <h1 class="user__avatar__title">{{userName}}</h1>
    {{/if}}
  </div>
</div>