<div class="profile__main__avatar__container">
  <div class="profile__main__avatar">
    <img class="profile__main__avatar" src="{{imgSrc}}" alt="{{imgAlt}}" />
    {{#if userName}}
      <h1 class="profile__main__avatar__title">{{userName}}</h1>
    {{/if}}
  </div>
</div>