<div class="container">
  <div class="profile__left-side">
    {{> ImageLink imgSrc="/images/left-arrow-button.svg" imgAlt="left arrow" data-page="chat" }}
  </div>
  <div class="profile__main">
    <div class="profile__main__container">

      {{> UserAvatar imgSrc="/images/user-avatar.svg" imgAlt="user avatar" }}

      <form  class="profile_data">
        {{#each itemList}}            
          {{> UserProfileDataRow inputType=this.inputType inputName=this.inputName inputPlaceholder=this.inputPlaceholder changeMode=this.changeMode}}
        {{/each}}
        
        {{> Button idButton="saveProfileData" class="profile__login__button" text="Сохранить" data-page="profile"}}
      </form>
    </div>
  </div>
</div>