<div class="container">
  <div class="profile__left-side">
    {{> ImageLink imgSrc="/images/left-arrow-button.svg" imgAlt="left arrow" data-page="chat" }}
  </div>
  <div class="profile__main">

    <div class="profile__main__container">
      {{> UserAvatar userName="Иван" imgSrc="/images/user-avatar.svg" imgAlt="user avatar" }}

      <div class="profile_data">
        {{#each itemList}}        
          {{> UserProfileDataRow rowName=this.rowName rowData=this.rowData }}    
        {{/each}}
      </div>

      <div class="profile__main__controls">
        {{> Link class="link" data-page="profileChange" text="Изменить данные" }}
        {{> Link class="link" data-page="menuPage" text="Изменить пароль" }}
        {{> Link class="link" data-page="login" text="Выйти" }}
      </div>

    </div>
  </div>
</div>