.profile__row {
  border-bottom: 1px solid var(--line-color);
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.profile__row__data {
  color: var(--secondary-color);
}

.profile__row:last-of-type {
  border: none;
}

.profile__input {
  border: none;
  text-align: right;
}

.error-message-row {
  color: var(--error-color);
  display: none;
}
